<a href="https://colab.research.google.com/github/OscarAliM/Matematicas_y_Ciencia_de_Datos/blob/main/Calificaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Notas de Alumnos en DataFrame***

In [3]:
import pandas as pd

In [8]:
datos = {
    'Actividad': [8,5,10,10,8,9,9,7,6,10],
    'Tareas': [10,6,7,9,8,7,8,8,9,10],
    'Quizzes': [10,10,8,9,7,6,10,7,10,8],
    'Examenes': [10,7,8,9,5,7,6,9,8,10],
    'Evidencias': [7,8,9,5,10,10,10,9,6,10],
}

In [18]:
notas= pd.DataFrame(datos,index=['Juan','Javier','Rafaela','Ximena','Sofia','Santiago','Aitana','Diego','Abril','Rosa'])
notas

          Actividad  Tareas  Quizzes  Examenes  Evidencias
Juan              8      10       10        10           7
Javier            5       6       10         7           8
Rafaela          10       7        8         8           9
Ximena           10       9        9         9           5
Sofia             8       8        7         5          10
Santiago          9       7        6         7          10
Aitana            9       8       10         6          10
Diego             7       8        7         9           9
Abril             6       9       10         8           6
Rosa             10      10        8        10          10

*¿Que hacer si quiero que despliegue solo los nombres de las series (columnas)?*

In [19]:
notas.columns

Index(['Actividad', 'Tareas', 'Quizzes', 'Examenes', 'Evidencias'], dtype='object')

¿Que hacer si quiero que me despliegue el tipo de datos que hay en mi DataFrame?

In [20]:
notas.dtypes

Actividad     int64
Tareas        int64
Quizzes       int64
Examenes      int64
Evidencias    int64
dtype: object

¿Que hacer si quiero que despliegue los estadisticos deñ dataframe?

In [21]:
notas.describe()

       Actividad     Tareas    Quizzes  Examenes  Evidencias
count   10.00000  10.000000  10.000000  10.00000   10.000000
mean     8.20000   8.200000   8.500000   7.90000    8.400000
std      1.75119   1.316561   1.509231   1.66333    1.837873
min      5.00000   6.000000   6.000000   5.00000    5.000000
25%      7.25000   7.250000   7.250000   7.00000    7.250000
50%      8.50000   8.000000   8.500000   8.00000    9.000000
75%      9.75000   9.000000  10.000000   9.00000   10.000000
max     10.00000  10.000000  10.000000  10.00000   10.000000

¿Y solo de una columna?

In [22]:
notas['Tareas'].describe()

count    10.000000
mean      8.200000
std       1.316561
min       6.000000
25%       7.250000
50%       8.000000
75%       9.000000
max      10.000000
Name: Tareas, dtype: float64

¿Que hacer si quiero que filtre por una caracteristica especifica de los valores en el DataFrame?

In [23]:
pasa_ex=notas[notas['Examenes']>=7]
print('Los estudiantes que aprobaron su examen son: ')
print(pasa_ex)

Los estudiantes que aprobaron su examen son:
          Actividad  Tareas  Quizzes  Examenes  Evidencias
Juan              8      10       10        10           7
Javier            5       6       10         7           8
Rafaela          10       7        8         8           9
Ximena           10       9        9         9           5
Santiago          9       7        6         7          10
Diego             7       8        7         9           9
Abril             6       9       10         8           6
Rosa             10      10        8        10          10

¿Que hacer si quiero que filtre por una caracteristica especifica de los valores en el DataFrame? (Evidencias)

In [26]:
pasa_ev=notas[notas['Evidencias']>=9]
print('Los estudiantes que obtuvieron buenos resultados en la evidencia son: ')
print(pasa_ev)

Los estudiantes que obtuvieron buenos resultados en la evidencia son:
          Actividad  Tareas  Quizzes  Examenes  Evidencias
Rafaela          10       7        8         8           9
Sofia             8       8        7         5          10
Santiago          9       7        6         7          10
Aitana            9       8       10         6          10
Diego             7       8        7         9           9
Rosa             10      10        8        10          10

Ahora quiero que se junten

In [27]:
pasa_ex1=notas['Examenes']>=7
pasa_ev1=notas['Evidencias']>=9
ambas=notas[pasa_ex1 & pasa_ev1]
ambas

          Actividad  Tareas  Quizzes  Examenes  Evidencias
Rafaela          10       7        8         8           9
Santiago          9       7        6         7          10
Diego             7       8        7         9           9
Rosa             10      10        8        10          10

Ordenar el dataFrame por valores

In [29]:
ambas.sort_values('Evidencias',ascending=False)

          Actividad  Tareas  Quizzes  Examenes  Evidencias
Santiago          9       7        6         7          10
Rosa             10      10        8        10          10
Rafaela          10       7        8         8           9
Diego             7       8        7         9           9